<html ng-app="FantasyFootballTools">
<head>
    <title>Cribbage</title>
    <style>
        body { padding-top: 40px; }

        .modal-backdrop.am-fade {
            opacity: .5;
            transition: opacity .15s linear;
        &.ng-enter {
             opacity: 0;
        &.ng-enter-active {
             opacity: .5;
         }
        }
        &.ng-leave {
             opacity: .5;
        &.ng-leave-active {
             opacity: 0;
         }
        }
        }
    </style>

    <!-- used by Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>
    <LINK REL="SHORTCUT ICON" HREF="favicon.ico" type="image/x-icon">
</head>
<body ng-controller="cribbageCtrl">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bryant's Workshop</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/draft">Draft Tool</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default" data-ng-repeat="player in data.players">
                <div class="panel-heading">
                    <h3 class="panel-title">Player {{player.index + 1}}
                        <span class="badge" data-ng-if="dealer==player.index">Dealer</span>
                        <span class="label label-info" data-ng-if="phase == 'play' && playerTurn%2 == player.index">Your Turn</span>
                    </h3>
                </div>
                <div class="panel-body">
                    <h4>Score : {{player.score}}</h4>
                    <div class="btn-group">
                    <span data-ng-repeat="card in player.hand">
                        <label class="btn btn-lg {{card.selected?'btn-success':''}}"
                               data-ng-model="card.selected"
                               data-ng-disabled="(phase == 'play' && playerTurn%2 !== player.index) || (data.total+card.value) > 31"
                               uib-btn-checkbox data-ng-click="updateCards(card)" data-ng-bind-html="card.symbol | unsafe"
                               style="background-color:{{card.color}} !important; padding-bottom: 30px; margin-bottom: 10px; padding-top: 20px;
                               {{card.face=='Ten'?'padding-left: 7px; padding-right:7px;':'padding-left: 10px; padding-right:10px;'}} color:white;"
                                ></label>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Control Panel</h3>
                </div>
                <div class="panel-body" style="text-align: center">
                    <div class="panel panel-default" data-ng-if="data.crib.length == 4">
                        <div class="panel-heading">
                            Crib
                        </div>
                        <div class="panel-body">
                            <div class="btn-group">
                                <span data-ng-repeat="card in data.crib">
                                    <label class="btn btn-lg" data-ng-disabled="true" data-ng-bind-html="card.symbol | unsafe"
                                           style="background-color:{{card.color}} !important; color:white;"></label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="data.starter">
                        Starter Card : {{data.starter.name}}
                        <br>
                    </div>
                    <div data-ng-if="phase=='start'">
                        <button class="btn btn-lg btn-success" data-ng-click="dealHands()">Deal Hand</button>
                    </div>
                    <div data-ng-if="phase=='add to crib'" >
                        Please select two cards to add to player {{dealer+1}}'s crib.
                        <br>
                        <button class="btn btn-info btn-lg" data-ng-if="data.crib.length == 4"
                                data-ng-click="finalizeCrib()">
                            Continue
                        </button>
                    </div>
                    <div data-ng-if="phase=='play'">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Play Area
                            </div>
                            <div class="panel-body">
                                <h3>Total : {{data.total}}</h3>
                                <div class="btn-group">
                                <span data-ng-repeat="card in data.play">
                                    <label class="btn btn-lg" data-ng-disabled="true" data-ng-bind-html="card.symbol | unsafe"
                                           style="background-color:{{card.color}} !important; color:white;"></label>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>

<script src="lib/jquery-2.1.4.min.js"></script>
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/sugar.min.js"></script>
<script type="text/javascript" charset="utf-8" src="lib/ui-bootstrap-tpls-1.3.2.js"></script>
<script src="js/app.js"></script>
</body>
</html>